<% include partials/header.ejs %>
    <!-- Main Section -->
    <section class="bodySection">
        <div class="container-fluid">
            <div class="aboutME">
                <img class="selfImage" src="/public/images/mypicture.JPG" alt="self-image">
                <div class="text">
                    <h1 class="aboutTitle">About me</h1>
                    <h5>Web Developer</h5>
                    <p class="para">Welcome to the about me page. My name is Thi Hong Hanh Bui. 
                        I come from Vietnam. I used to work in the field of Human Resources Management. 
                        This is my third semester of Software Engineering Technician program in Centennial College. </p>
                    <a href="contactMe.html"><button type="button" class="btn-talk">Contact me here</button></a>
                    <a href="/public/images/THIHONGHANH_BUI_Resume.PDF">My Resume</a>
                </div>

            </div>
        </div>
    </section>
    <% include partials/footer.ejs %>