<% include partials/header.ejs %>
    <section class="bodySection">
        <div class="container-fluid">
            <div class="contact-container">
                <form class="contact-form">
                    <h3>Contact Me</h3>
                    <input type="text" id="name" placeholder="Your name" required>
                    <input type="email" id="email" placeholder="Email id" required>
                    <input type="text" id="phone" placeholder="Phone number" required>
                    <textarea name="message" cols="30" rows="3" placeholder="Hey, how can I help you?"></textarea>
                    <button type="submit" id="cont-btn">Send</button>
                </form>
            </div>
        </div>
    </section>
    <% include partials/footer.ejs %>