<% include partials/header.ejs %>

    <!-- Main Section -->
    <section class="bodySection">
        <div class="container-fluid">
            <h1 class="welcome">Welcome <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;to my page!</h1>

        </div>
    </section>

    <% include partials/footer.ejs %>