<% include partials/header.ejs %>
    <!-- Main Section -->
    <section class="bodySection">
        <div class="container-fluid">
            <div class="testimonial-body">
                <div id="testimonial-control" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        <div class="carousel-item active container-fluid">
                            <h2 class="testimonial-text">First project to help restaurants make sale and store ingredients.</h2>
                            <img class="testimonial-image" src="/public/images/project1.jpg" alt="p1">
                            <em>Project 1</em>
                        </div>
                        <div class="carousel-item container-fluid">
                            <h2 class="testimonial-text">This is the second project provide solution for banks to manage online banking users.</h2>
                            <img class="testimonial-image" src="/public/images/project2.jpeg" alt="p2">
                            <em>Project 2</em>
                        </div>
                        <div class="carousel-item container-fluid">
                            <h2 class="testimonial-text">This is the third project that I created a simple website developed using PHP, HTML5 and CSS for a restaurant located in Canada.
                                The website displays the restaurant's menu and the different restaurant locations.</h2>
                            <img class="testimonial-image" src="/public/images/project-3.jpg" alt="p3">
                            <em>Project Three</em>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#testimonial-control" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#testimonial-control" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
                </div>
            </div>
        </div>
    </section>
    <% include partials/footer.ejs %>