<% include partials/header.ejs %>
    <!-- Middle part -->
    <section class="bodySection">
        <div class="container-fluid">
            <div class="services">
                <h2 class="service-title">Services that I offer </h2>
                <div class="service-row">
                    <img class="services-image" src="/public/images/service01.gif" alt="app">
                    <h3 class="service-subtitle">Application Development</h3>
                    <p class="service-text">I can help you to design, develop and customize for Java and C# applications.</p>
                </div>
                <div class="service-row">
                    <img class="services-image" src="/public/images/service02.gif" alt="web">
                    <h3 class="service-subtitle">Web development</h3>
                    <p class="service-text">I can help you to design a web site, customize and develop for any kind of web platform.</p>
                </div>
            </div>
        </div>
    </section>
    <% include partials/footer.ejs %>